<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>Template</title>
</head>
<body>
    <table style="width:555px; margin:0 auto;">
        <tr>
            <td style="text-align:center;">
                <img style="width:77px; height:77px;" src="https://i.imgur.com/PoPTM8H.png" alt="Logo da rede-social Posts">
                <h1 style="margin-bottom:33px;">Olá <span style="color:#1F51FF;">{username}</span>, seja bem-vindo(a)!</h1>
                <h3 style="margin-bottom:33px;">Agradecemos seu cadastro! no momento sua conta se encontra <strong style="text-decoration:underline;">desativada</strong>, impossibilitada de realizar qualquer postagem ou comentário 😥</h3>
                <h3 style="margin-bottom:33px;">Basta clicar no botão abaixo para ativá-la e experimentar o Posts em sua totalidade! 🎉🎉🎉</h3>
                <div style="margin-bottom:33px;">
                    <h3>
                        <a href="https://posts-i9sv.onrender.com/users/activate/{userId}" style="text-decoration:none; background-color:#1F51FF; padding:16px 32px; color:#fff;">Ativar Conta</a>
                    </h3>
                </div>
                <h4 style="color:#7B7D7D;">Caso você não tenha feito o cadastramento no site, não se preocupe, esta conta permanecerá desativada, entre em contato conosco respondendo este email que iremos removê-la de nosso banco de dados.</h4>
                <h3>Atenciosamente, equipe Posts.</h3>
            </td>
        </tr>
    </table>
</body>
</html>