<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>Template</title>
</head>
<body>
<table style="width:555px; margin:0 auto;">
    <tr>
        <td style="text-align:center;">
            <img style="width:99px; height:99px;" src="https://i.imgur.com/PoPTM8H.png" alt="Logo da rede-social Posts">
            <h1 style="margin-bottom:33px;">Recupere sua conta!</h1>
            <h3 style="margin-bottom:33px;">Você tem até 30 minutos para registrar uma nova senha, requisite a troca novamente caso o tempo expire.</h3>
            <h3 style="margin-bottom:33px;">Clique no botão abaixo para registrar uma nova chave de acesso:</h3>
            <div style="margin-bottom:33px;">
                <h3>
                    <a href="https://srs-posts.onrender.com/#/psswrd/{token}" style="text-decoration:none; background-color:#1F51FF; padding:16px 32px; color:#fff;">Alterar senha</a>
                </h3>
            </div>
            <h4 style="color:#7B7D7D;">Caso não tenha sido você o solicitador, não se preocupe, basta não prosseguir com a mudança, sua senha permanece a mesma.</h4>
            <h3>Atenciosamente, equipe Posts.</h3>
        </td>
    </tr>
</table>
</body>
</html>